<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3 class="mt-3">Edit your Listing</h3>
                <form method="POST" enctype="multipart/form-data" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
                    <div class="mt-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" class="form-control" name="listing[title]" required value="<%=listing.title
                            %>">
                            <div class="invalid-feedback">
                                Please enter a catchy title.
                              </div>
                              <div class="valid-feedback">
                                Title looks good.
                              </div>
                    </div>
                    <div class="mt-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" id="description"
                            class="form-control" required> <%= listing.description %> </textarea>
                            <div class="invalid-feedback">
                                Please enter a short description.
                              </div>
                    </div>
                    <div class="mt-3">
                        <h6>Original Listing Image</h6>
                        <img src=<%= originalImageUrl %> alt="listing_image">
                    </div>
                    <div class="mt-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" name="listing[image]" id="image" class="form-control" value=<%=listing.image
                            %>>
                            <div class="invalid-feedback">
                                Please enter a valid image url.
                              </div>
                    </div>
                    <div class="mt-3" style="display: flex;line-height: 2;">
                        <label for="category" style="margin-right: 1rem;">Category</label>
                        <select required style="border: 1px solid #ced4da;flex: 1;border-radius: 0.375rem;" name="listing[category]" id="category">
                            <option value="trending">Trending</option>
                            <option value="rooms">Rooms</option>
                            <option value="iconicCities">Iconic Cities</option>
                            <option value="castles">Castles</option>
                            <option value="farms">Farms</option>
                            <option value="camping">Camping</option>
                            <option value="arctic">Arctic</option>
                            <option value="amazingPools">Amazing Pools</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="mt-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" id="price" required class="form-control"
                                value=<%=listing.price %>>
                                <div class="invalid-feedback">
                                    Please enter a valid price.
                                  </div>
                        </div>
                        <div class="mt-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" readonly name="listing[country]" id="country" class="form-control"
                                value="<%= listing.country %>">
                                <div class="invalid-feedback">
                                    Please enter a valid country.
                                  </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" readonly name="listing[location]" id="location" class="form-control"
                            value="<%= listing.location %>">
                            <div class="invalid-feedback">
                                Please enter a valid location.
                              </div>
                    </div>
                    <button class="btn btn-dark button-red my-3">Edit</button>
                </form>
            </div>
        </div>
    </body>